annotated-types==0.7.0
arrow==1.4.0
attrs==26.1.0
binaryornot==0.6.0
blinker==1.9.0
boto3==1.43.0
boto3-stubs==1.43.0
botocore==1.43.0
botocore-stubs==1.42.41
certifi==2026.4.22
cffi==2.0.0
cfn-lint==1.48.1
charset-normalizer==3.4.7
chevron==0.14.0
colorama==0.4.6
cookiecutter==2.7.1
cryptography==46.0.7
dateparser==1.4.0
debugpy==1.8.20
docker==7.1.0
docutils==0.19
# -e git+https://github.com/ccSchwing/fbp-lambda-v2.git@13b639063bfd1dbae7980e9357c59bda5b7caeac#egg=fbplib&subdirectory=src/FBPLib-Layer
Flask==3.1.3
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
mypy-boto3-apigateway==1.43.0
mypy-boto3-cloudformation==1.43.0
mypy-boto3-ecr==1.43.0
mypy-boto3-iam==1.43.0
mypy-boto3-kinesis==1.43.0
mypy-boto3-lambda==1.43.0
mypy-boto3-s3==1.43.0
mypy-boto3-schemas==1.43.0
mypy-boto3-secretsmanager==1.43.0
mypy-boto3-signer==1.43.0
mypy-boto3-sqs==1.43.0
mypy-boto3-stepfunctions==1.43.0
mypy-boto3-sts==1.43.0
mypy-boto3-xray==1.43.0
networkx==3.6.1
packaging==26.2
pyasn1==0.6.3
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pyOpenSSL==26.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-slugify==8.0.4
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
rich==14.3.4
rpds-py==0.30.0
rsa==4.7.2
ruamel.yaml==0.19.1
s3transfer==0.17.0
setuptools==82.0.1
six==1.17.0
sympy==1.14.0
text-unidecode==1.3
tomlkit==0.14.0
types-awscrt==0.31.3
types-s3transfer==0.16.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.6.3
watchdog==4.0.2
Werkzeug==3.1.8
wheel==0.47.0
